@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "tailwindcss";

@theme {
  --color-bg: var(--color-stone-900);
  --color-fg: var(--color-stone-200);
  --default-font-family: "Nunito", sans-serif;
}

body {
  background-image: url("/x.svg"), linear-gradient(var(--color-bg));
  background-size: 24px 24px;
  background-repeat: repeat;

  @apply text-fg;
}
